<p id="notice"><%= notice %></p>

<h2><%= @plugin.name %></h2>
<p><%= @plugin.description %></p>
<div>
  <%= @plugin.readme %>
</div>

<%= link_to 'Edit', edit_plugin_path(@plugin, :editor => @editor.short) %> |
<%= link_to 'Back', plugins_path(:editor => @editor.short) %>
<%= button_to 'Destroy', plugin_path(@plugin, :editor =>  @editor.short), :confirm => 'Are you sure?', :method => :delete %>
