<%= form_for(@version, :url => (@version.new_record? &&  plugin_versions_path(@plugin, :editor => @editor.short) || plugin_version_path(@plugin, @version, :editor => @editor.short))) do |f| %>
  <% if @version.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@version.errors.count, "error") %> prohibited this version from being saved:</h2>

      <ul>
      <% @version.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :number %><br />
    <%= f.text_field :number %>
  </div>
  <div class="field">
    <%= f.label :changelog %><br />
    <%= f.text_area :changelog %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
